*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  width: 1140px;
  height: 534px;
  
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;

}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: inherit;
  height: inherit;
}


.content__details {
  display: flex;
  gap: 26px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;

}

.content__list {
  position: relative;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  column-gap: 32px;
  width: 100%;
}

.content__list-item {
 
}

 /*i'll try to set some styles to scrollbar, i suppose u didn't ask me to, but default ones frustrates
me alot especialy in safari, i'll comment those styles incase it is a mistake */

.content__list::-webkit-scrollbar {
  background-color: inherit;
  width: 5px;
  
} 

.content__list::-webkit-scrollbar-thumb {
  background-color: #545050;
  opacity: 0.5;
  border-radius: 10rem;
}
  
.content__video-card {
  display: flex;
  align-content: flex-end;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;

}

.content__video-card-description-container {
  width: 100%;
  text-decoration: none;
}

.content__video-card-title{
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color:#FFFFFF;

}

.content__video-card-description {
font-family: Fira Sans Condensed;
font-size: 18px;
font-weight: 400;
line-height: 16.2px;
text-align: left;
color: #FFFFFF;
text-transform: capitalize;
}



.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;

}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;

}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  width: 19px;
  height: 19px;
  margin-right: 6px;
}
/* add checkbox in checked status styles here latter on */

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  display: block;
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFFFF;
  content: "";
}

/* buttons down there*/
.button {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color:#FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.search-form__submit-button {
  width: 194px;
  max-height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 399px;
}

/* cities list*/

.search-form__textfield {
  width: 225px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  background-color: inherit;
  color:#FFFFFF;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

/* different form conditions downthere*/

.search-form__label:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #FFFFFF;

}


.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
 }

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.content__list-item:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  ;
}
 .button:focus {
  border: none;
 }

 .button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
 }